### Cypress Custom .gitignore ###
*.log.*
dist-*
build
.history
.publish
_test-output
cypress.zip
.babel-cache
cypress/fixtures/title.json
cypress/fixtures/recorded-contract-data.txt

# from driver
packages/driver/cypress/videos
packages/driver/cypress/screenshots

# from launcher, compiled .js files
packages/launcher/index.js
packages/launcher/lib/**/*.js

test-results
.idea
.semaphore
playwright-report/


# from runner
packages/runner/cypress/videos
packages/runner/cypress/screenshots

# npm packages
npm/**/cypress/screenshots

# from npm/xpath
/npm/xpath/cypress/videos
# from npm/grep
/npm/grep/cypress/videos

### Node ###
# Logs
logs
*.log

# Dependency directories
node_modules/
package-lock.json
cypress/videos/*
!cypress/videos/.gitkeep
cypress/screenshots/*
!cypress/screenshots/.gitkeep
cypress/e2e/data/title-data.txt
cypress/results/*

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Environment secrets
.env.int

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Temporary folders
tmp/
temp/

### OSX ###
# General
.DS_Store